<!DOCTYPE html>
<head>
  <title>User Home</title>
  <link href="../.././styles/usrProf.css" rel="stylesheet">
</head>
<body>
  <div class="ProfileContainer">
    <div class="usrProfHeader">
      <l1>This is Profie header</l1>
      <div class="usrIcon">
        <img src="../.././bin/media/user.png" alt="user_profie--icon" width="90" height="80">
      </div>
      <label>User</label>
      <hr class="solid">
    </div>
    <div class="usrProfWall">
      <l1>This is profile body or, Wall where all information/ notification will appear</l1>
      <l1>Wall Notificaation</l1>
    </div>
    <div class="sidePaneLeft">
      <l1>Settings & other service on demand will be appear here</l1>
    </div>
  </div>
</body>
</html>
<!--PixTag\styles\usrProf.css-->
