<!doctype html>
<head>
    <title>Login/ Sign up</title>
    <link rel="stylesheet" href="../../styles/lacc.css"
</head>
<body>
    <l1>This is Login/ Sign Up Page for Banking operations</l1>
    <div class="container">
        <label for="uname"><b>User Name</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="passw"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="passw" required>

        <button type="submit">Login/ Sign Up</button>
        <label>
            <input type="checkbox" placeholder="checked" name="remember">Remember me</div>
        </label>
    </div>
    <div class="container" style="background-color: cornflowerblue;">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="passw">Forget <a href="#">password?</a></span>
        <span type="button" class="signupbtn"><Signup/span>
    </div>
</body>